# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
go/bin/
go/pkg/
ucore/obj
*~
*.org
# when compile go, auto produced file
go/src/cmd/6a/6a
go/src/cmd/6a/y.tab.c
go/src/cmd/6a/y.tab.h
go/src/cmd/6c/6c
go/src/cmd/6g/6g
go/src/cmd/6l/6l
go/src/cmd/6l/enam.c
go/src/cmd/cc/y.output
go/src/cmd/cc/y.tab.c
go/src/cmd/cc/y.tab.h
go/src/cmd/cov/6cov
go/src/cmd/gc/builtin.c
go/src/cmd/gc/opnames.h
go/src/cmd/gc/y.output
go/src/cmd/gc/y.tab.c
go/src/cmd/gc/y.tab.h
go/src/cmd/gc/y1.tab.c
go/src/cmd/gc/yerr.h
go/src/cmd/godefs/godefs
go/src/cmd/gopack/gopack
go/src/cmd/nm/6nm
go/src/cmd/prof/6prof
go/src/pkg/runtime/amd64/asm.h
go/src/pkg/runtime/goc2c
go/src/pkg/runtime/mkversion
go/src/pkg/runtime/runtime.acid.amd64
go/src/pkg/runtime/runtime_defs.go
